---
// ArticlesList component: list articles tagged with the given tag.
// They can be limited to just those in the Article Library, just in the main Topics list, or all.
// Parameters:
//     subset: 'topicsonly', 'articlelibonly'
//     tag: eg, 'encoding', 'script-arab', etc.
//     header: eg, 'Related articles'

import { getCollection } from 'astro:content';
const { tag, subset, header } = Astro.props;
const articlelibonly = await getCollection('articlelibdocs');
const topicsonly = await getCollection('topicsdocs');

let articles
switch (subset) {
  case "articlelibonly":
    articles = [...articlelibonly];
    break;
  case "topicsonly":
    articles = [...topicsonly];
    break;
  default:
    articles = [...articlelibonly, ...topicsonly];
};

let filteredArticles = articles;
if (tag) {
  filteredArticles = articles.filter(article => 
    article.data.tags && Array.isArray(article.data.tags) && article.data.tags.includes(tag)
  );
}

let sortedArticles = filteredArticles.sort((a, b) => a.data.title.localeCompare(b.data.title));

---

{ (sortedArticles.length == 0) ? (
		null
	) : (
		<>
			{ (header && header !== '') ? (
				<h3>{header}</h3>
				) : null
			}
			<ul>
				{sortedArticles.map(article => (
					article.data.description ? (
						<li><a href={`/${article.id}`}>{article.data.title}</a> - <em>{article.data.description}</em></li>
					) : (
						<li><a href={`/${article.id}`}>{article.data.title}</a></li>
					)
				))}
			</ul>
		</>
	)
}
