---
// BibEntry component: display a single source, eg, a bibliographic entry, in a formal format.
// Used by the BibList component.
// Parameters:
//     key: record id in YAML file
//
// Types to handle: article, book, inbook, inproceedings, misc, online

const { key } = Astro.props;

import { getEntry } from 'astro:content';
const sObj = await getEntry('sources', key);
if (!sObj) {
	throw new Error(`BibEntry: ${Astro.originPathname}: Could not find sources entry: ${key}`)
}

const stype = sObj.data.entrytype;

// const presortStr = (sObj.data.presort ?? '').toString();
// const omitAuthor = (presortStr !== '');

let titleString = sObj.data.title ?? '';

let lastChar = titleString[titleString.length-1];
let titleEndsWithPunct = (lastChar == '.' || lastChar == '!' || lastChar == '?');
let titleEndPunct = '.';
if (titleEndsWithPunct) {
	titleEndPunct = '';
}

let authorString = sObj.data.author ?? '';
const authorList = authorString.split(" and ");
const aLen = authorList.length;
if (aLen > 2) {
	// Convert 'Bob and Martin and Peter' to 'Bob, Martin, and Peter'. -- no, just use "et al."
	// let result = authorList[0];
	// for (let i = 1; i < aLen - 1; i++) {
	// 	result = result.concat(', '.concat(authorList[i]));
	// }
	// authorString = result.concat(', and '.concat(authorList[aLen-1]));

	authorString = authorList[0].concat(", et al.");
}

let editorString = sObj.data.editor ?? '';
const editorList = editorString.split(" and ");
if (editorList.length > 2) {
	editorString = editorList[0].concat(", et al.");
}

if (authorString === '' && editorString !== '') {
	if (editorString.includes(' and ') || editorString.includes(' et al')) {
		authorString = `${editorString}, eds.`;
	} else {
		authorString = `${editorString}, ed.`;
	}
	editorString = ``;
} else if (editorString !== '') {
	editorString = `edited by ${editorString}`;
}

// Put last name (sortname) first for the first author/editor:
let sortNameStr = sObj.data.sortname ?? '';
let spSortName = ' '.concat(sortNameStr);
if (sortNameStr != '' && authorString.indexOf(spSortName) > 0) {
	authorString = sortNameStr.concat(', '.concat(authorString.replace(spSortName, '')));
}

if (authorString[authorString.length-1] == '.') {
	// Remove redundant final '.'
	authorString = authorString.substring(0,authorString.length-1);
}

let orgString = sObj.data.organization ?? '';

// Only one of these will exist:
let largerWork = (sObj.data.journaltitle ?? '') + (sObj.data.booktitle ?? '');

let seriesString = sObj.data.series ?? '';

let volumeString = sObj.data.volume ?? '';
if (volumeString !== '') {
	volumeString = `vol. ${volumeString}`;
}
let numberString = sObj.data.number ?? '';
if (numberString !== '') {
	numberString = `no. ${numberString}`;
}

let pubString = sObj.data.publisher ?? '';
let dateString = sObj.data.date ?? '';
let dateAccessed = sObj.data.urldate ?? '';

let pageString = sObj.data.pages ?? '';
if (pageString !== "") {
	if (pageString?.includes('-')) {
		pageString = "pp. " + pageString;
	} else {
		pageString = "p. " + pageString;
	}
}

let urlString = sObj.data.url ?? '';
let urlOnline = urlString;
let isFullSite = false;
if (stype == "online") {
	urlString = "";		// it will be displayed with the title
	let u = urlOnline.replace( "https://", "");
	u = u.replace("http://", "");
	u = u.replace("www.", "");
	// This probably represents a site, not a page, if there is a simple URL, eg 'blahblah.com'.
	let slashCount = (u.match(/\//g) || []).length;
	let dotCount = (u.match(/\./g) || []).length;
	isFullSite = (slashCount == 0 && dotCount < 2);
	// console.log(u + ' - ' + isFullSite);
} else {
	urlOnline = "";
}

// let addendumString = sObj.data.addendum ?? '';
// addendumString = addendumString.replaceAll('[CR][CR]', '<br/>');

// let annotationString = sObj.data.annotation ?? '';
// annotationString = annotationString.replaceAll('[CR][CR]', '<br/>');

// let abstractString = sObj.data.abstract ?? '';
// abstractString = abstractString.replaceAll('[CR][CR]', '<br/>');

---

<style>
	.info { font-style: italic; font-size: 92%; }
</style>

{	sObj ? (
		<>

		<!-- First sequence: author  -->

		{ (authorString !== '') ? (
			<>{authorString}. </>
			) : null
		}

		<!-- Second sequence: title, organization, online-link -->
		
		<!-- There should always be a title. -->
		{stype === 'book' ? (
			<><em>{sObj.data.title}</em>{titleEndPunct}&#x20;</>

		) : (stype === 'inbook' || stype === 'article' || stype === 'inproceedings') ? (
			<>&#x201C;{sObj.data.title}&#x201D;{titleEndPunct}&#x20;</>

		) : (stype === 'online') ? (
			<>
				{	(isFullSite) ?
					( <em>{sObj.data.title}{titleEndPunct}&#x20;</em>
					) : ( <>&#x201C;{sObj.data.title}&#x201D;{titleEndPunct}&#x20;</> )
				}

				<!-- Extra sequence for online items. -->
				{	(orgString != '' && !isFullSite) ? (
						<>
							<em>{orgString}</em>
							{	(urlOnline !== '' ) ? (
									<>, </>
								)	: <>.</>
							}	
						</>

					) : null
				}
				{	( urlOnline != '') ? (
						<><a href={urlOnline} target="_blank" rel="noopener noreferrer">{urlOnline}</a>.</>
					) : null
				}
			</>
	
		) : (
			<>&#x201C;{sObj.data.title}&#x201D;{titleEndPunct}&#x20;</>
			)
		}

		<!-- Third sequence -->

		{	(stype != 'online' && (largerWork != "" || seriesString != "")) ? ( 
			<>
			{	(largerWork != "") ? <em>{largerWork}</em> : <>{seriesString}</>}
			{	(editorString !== '' || volumeString !== '' || numberString !== '' || pubString !== '' 
							|| dateString !== '' || pageString !== '' || urlString !== '') ? (
					<>, </>
				) : <>.</>
			}
			</>
			) : null
		}

		{	(stype != 'online' && editorString !== '') ? ( 
			<>{editorString}
			{	(volumeString !== '' || numberString !== '' || pubString !== '' 
						|| dateString !== '' || pageString !== '' || urlString !== '') ? (
					<>, </>
				) : <>.</>
			}
			</>
			)	: null
		}

		{	(stype != 'online' && volumeString !== "" ) ? (
			<>{volumeString}
			
			{	(numberString !== '' || pubString !== '' || dateString !== '' || pageString !== '' || urlString !== '') ? (
					<>, </>
				)	: <>.</>
			}
			</>	) : null
		}

		{	(stype != 'online' && numberString !== '' ) ? (
			<>{numberString}
			{	(pubString !== '' || dateString !== '' || pageString !== '' || urlString !== '') ? (
					<>, </>
				)	: <>.</>
			}
			</>	) : null
		}

		{	(stype != 'online' && pubString !== '' ) ? (
			<>{pubString}
			{	(dateString !== '' || pageString !== '' || urlString !== '') ? (
					<>, </>
				)	: <>.</>
			}			
			</>	) : null
		}

		{	(stype != 'online' && dateString !== "" ) ? (
			<>{dateString}
			{	(pageString !== '' || urlString !== '') ? (
					<>, </>
				)	: <>.</>
			}	
			</>	) : null
		}

		{	(stype != 'online' && pageString !== "" ) ? (
			<>{pageString}
			{	(urlString !== '' ) ? (
					<>, </>
				)	: <>.</>
			}	
			</>	) : null
		}

		{	( urlString !== "" && stype != 'online') ? (
				<><a href={urlString} target="_blank" rel="noopener noreferrer">{urlString}</a>.</>
			) : null
		}

		<!-- Fourth sequence: last-accessed date -->

		{ (dateAccessed != "") ? (
			<> Accessed {dateAccessed}.</>
			) : null
		}

		<!-- Commentary -->
		<!--
		{	(addendumString !== '') ? (
				<br/><span class="info" set:html={addendumString} />
			) : null
		}
		{	(abstractString !== '') ? (
				<br/><span class="info" set:html={abstractString} />
			) : null
		}
		{	(annotationString !== '') ? (
				<br/><span class="info" set:html={annotationString} />
			) : null
		}
		-->

		</>
	) : null
}

