---
import { db as db_, eq, lt, gte, lte, sql } from 'astro:db';
import assert from 'node:assert/strict'
import sqlite3 from 'sqlite3';
import { open } from 'sqlite';

import { COREDATA_DB_PATH } from '../utils/coredata_access';

console.log(`DB at ${import.meta.env.ASTRO_DB_REMOTE_URL}`);

const { table, fields, filter, order, caption } = Astro.props;

// Ensure `fields` is explicitly typed as a string
const parsedFields = (fields as string).split(',').map((pair: string) => {
  const [field, title] = pair.split('=').map(str => str.trim());
  return { field, title: title || field }; // Use the field name as the title if no custom title is provided
});

// Extract the field names for the SQL query
const fieldNames = parsedFields.map(f => f.field).join(', ');

// Open the SQLite database
const db = await open({
  filename: COREDATA_DB_PATH,
  driver: sqlite3.Database
});

// Construct the SQL query
const query = `
  SELECT ${fieldNames}
  FROM ${table}
  ${filter ? `WHERE ${filter}` : ''}
  ${order ? `ORDER BY ${order}` : ''}
`;

// Execute the query and fetch the results
console.log(query)
const rows_ = await db_.all(sql.raw(query));
const rows = await db.all(query);
assert.deepEqual(rows_, rows);

// Close the database connection
await db.close();
---

<style>
  .record-count {
    margin-top: 0.5em;
    font-size: 0.9em;
    font-style: italic;
  }
  .caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
  }
</style>

<div>
  <table>
    <thead>
      <tr>
        {parsedFields.map(({ title }) => (
          <th>{title}</th>
        ))}
      </tr>
    </thead>
    <tbody>
      {rows.map(row => (
        <tr>
          {parsedFields.map(({ field }) => (
            <td>{row[field]}</td>
          ))}
        </tr>
      ))}
    </tbody>
  </table>
  {caption && <div class="caption">{caption}</div>}
  <!-- <div class="record-count">Total records: {rows.length}</div> -->
</div>