---
// ScriptList component: display a list of scripts, derived from the main script pages.

import { getCollection } from 'astro:content';
const scrDocs = await getCollection('scriptdocs');

let sortedDocs = scrDocs.sort((a, b) => (a.data.scrpropsortname ?? '').localeCompare(b.data.scrpropsortname ?? ''));

---

<div>
	<table>
	<thead>
		<tr>
			<th>ISO</th>
			<th>Name</th>
			<th>Region</th>
			<th>Type</th>
			<th>Direction</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{sortedDocs.map(scriptArt => {
			if ((scriptArt.data.scrpropcode ?? '').charAt(0) != "Q") {
				return (
					<tr>
						<td>{scriptArt.data.scrpropcode}</td>
						<td><a href={`/scrlang/scripts/${(scriptArt.data.scrpropcode ?? '').toLowerCase()}`}>{scriptArt.data.scrpropname}</a></td>
						<td>{scriptArt.data.scrpropregion}</td>
						<td>{scriptArt.data.scrproptype}</td>
						<td>{scriptArt.data.scrpropdirection}</td>
						<td>{scriptArt.data.scrpropstatus}</td>
					</tr>
				);
			}
			return null;
		})}
	</tbody>
	</table>
</div>

<style>
</style>

