---
// ScriptList component: display a list of scripts, based on data in the JSON file.
// TODO: Replace all uses with ScriptTable which is based on the SQLite DB.

//import sdata from '../data/scripts.json';

import { getCollection } from 'astro:content';
const scrDocs = await getCollection('scriptdocs');

// Sort the `scrData` array by the 'scrpropsortName' property:
//let sortedScripts = [...scrDocs].sort((a, b) => a.data.scrpropsortname.localeCompare(b.data.scrpropsortname));


/////let sortedArticles = filteredArticles.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<div>
	<table>
	<thead>
		<tr>
			<th>ISO</th>
			<th>Name</th>
			<th>Region</th>
			<th>Type</th>
			<th>Direction</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
	{scrDocs.map(scriptArt => {

				<tr>
					<td>{scriptArt.data.scrpropcode}</td>
					<td><a href={`/scrlang/scripts/${scriptArt.data.scrpropcode.toLowerCase()}`}>{scriptArt.data.scrpropname}</a></td>
					<td>{scriptArt.data.scrpropfamily}</td>
					<td>{scriptArt.data.scrproptype}</td>
					<td>{scriptArt.data.scrpropdirection}</td>
					<td>{scriptArt.data.scrpropstatus}</td>
				</tr>

	})}
	</tbody>
	</table>
</div>

<style>
</style>

