---
import ScriptResourceLinks from "./ScriptResourceLinks.astro";

const { scrpropname, scrpropcode } = Astro.locals.starlightRoute.entry.data;
const { detailSummary } = Astro.props;
const ssurl = scrpropcode ? `https://scriptsource.org/scr/${scrpropcode}` : "https://scriptsource.org";
const label4ss = scrpropname ? ` page for ${scrpropname}` : '';
const wikiurl = scrpropname ? `https://wikipedia.org/wiki/${scrpropname}` : "https://en.wikipedia.org/wiki/Script_(Unicode)";
const label4wiki = scrpropname ? ` article on ${scrpropname}` : ' article on Scripts';
const seemore = (detailSummary === "seemore");
---

<ul>
	<li><a href={ssurl} rel="external nofollow" target="_blank">ScriptSource{label4ss}
			<span aria-hidden class="external-link-icon"><img src="/svgs/external-link.svg"></span>
		</a> - all about scripts, languages, and writing systems</li>
	<li><a href={wikiurl} rel="external nofollow" target="_blank">Wikipedia{label4wiki}
		<span aria-hidden class="external-link-icon"><img src="/svgs/external-link.svg"></span>
		</a></li>
</ul>


<style>
</style>
