---
const { scrpropname, scrpropcode } = Astro.locals.starlightRoute.entry.data;
const ssurl = `https://scriptsource.org/scr/${scrpropcode}`;
const wikiurl = `https://wikipedia.org/wiki/${scrpropname}`;
---

<div>
	<ul>
		<li><a href={ssurl}>ScriptSource page for {scrpropname}</a> - all about scripts, languages, and writing systems</li>
		<li><a href={wikiurl}>Wikipedia page for {scrpropname}</a> - this link probably doesn't work</li>
	</ul>
</div>

<style>
</style>

