---
const { scrpropname, scrpropcode, detailSummary } = Astro.locals.starlightRoute.entry.data;
const ssurl = scrpropcode ? `https://scriptsource.org/scr/${scrpropcode}` : "https://scriptsource.org";
const wikiurl = scrpropname ? `https://wikipedia.org/wiki/${scrpropname}` : "https://en.wikipedia.org/wiki/Script_(Unicode)";
const label4script = scrpropname ? ` for ${scrpropname}` : '';
---

<p>Summary type = {detailSummary}.</p>

<ul>
	<li><a href={ssurl} target="_blank">ScriptSource page{label4script}</a> - all about scripts, languages, and writing systems</li>

{detailSummary === "seemore" ? (
	</ul>
	<details>
		<summary>See more...</summary>
		<ul>
			<li><a href={wikiurl} target="_blank">Wikipedia page{label4script}</a></li>
			<!-- General purpose links -->
			<li><a href="https://r12a.github.io/scripts/script-features" target="_blank">Richard Ishida's script comparison table</a></li>
			<li><a href="https://r12a.github.io/pickers" target="_blank">Unicode character pickers</a></li>
			<li><a href="http://www.microsoft.com/typography/OpenTypeDev/USE/intro.htm" target="_blank">Creating and supporting OpenType fonts for the Universal Shaping Engine</a></li>
			<li><a href="https://r12a.github.io/scripts/#scriptnotes" target="_blank">Notes on Scripts, Orthographies and Characters, Lists of Terms</a></li>
		</ul>
	</details>

) : (
		<li><a href={wikiurl} target="_blank">Wikipedia page{label4script}</a></li>
		<!-- General purpose links -->
		<li><a href="https://r12a.github.io/scripts/script-features" target="_blank">Richard Ishida's script comparison table</a></li>
		<li><a href="https://r12a.github.io/pickers" target="_blank">Unicode character pickers</a></li>
		<li><a href="http://www.microsoft.com/typography/OpenTypeDev/USE/intro.htm" target="_blank">Creating and supporting OpenType fonts for the Universal Shaping Engine</a></li>
		<li><a href="https://r12a.github.io/scripts/#scriptnotes" target="_blank">Notes on Scripts, Orthographies and Characters, Lists of Terms</a></li>
	</ul>
)}

<style>
</style>

