---
const { scrpropname, scrpropcode } = Astro.locals.starlightRoute.entry.data;
const ssurl = `https://scriptsource.org/scr/${scrpropcode}`;
const wikiurl = `https://wikipedia.org/wiki/${scrpropname}`;
---

<ul>
	<li><a href={ssurl}>ScriptSource page for {scrpropname}</a> - all about scripts, languages, and writing systems</li>
</ul>

<details><summary>See more...</summary>
<ul>
	<li></li><a href={wikiurl}>Wikipedia page for {scrpropname}</a></li>
	<!-- General purpose links -->
	<li></li><a href="https://r12a.github.io/scripts/script-features">Richard Ishida's script comparison table</a></li>
	<li></li><a href="https://r12a.github.io/pickers">Unicode character pickers</a></li>
	<li></li><a href="http://www.microsoft.com/typography/OpenTypeDev/USE/intro.htm">Creating and supporting OpenType fonts for the Universal Shaping Engine</a></li>
	<li></li><a href="https://r12a.github.io/scripts/#scriptnotes">Notes on Scripts, Orthographies and Characters, Lists of Terms</a></li>
</ul>
</details>

<style>
</style>

