---
const { scrpropcode, scrproptype, scrpropregion, scrpropstatus, scrpropdirection, scrpropbaseline, scrpropcase, scrpropwspace, scrpropbehavior, scrpropisonumkey, scrpropotcode } = Astro.locals.starlightRoute.entry.data;
---

<details>
<summary> See all script properties: code, region, status and more</summary>
<div>
	<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Code</strong></td>
			<td>{scrpropcode}</td>
		</tr>
		<tr>
			<td><strong>Script type</strong></td>
			<td>{scrproptype}</td>
		</tr>
		<tr>
			<td><strong>Region</strong></td>
			<td>{scrpropregion}</td>
		</tr>
		<tr>
			<td><strong>Status</strong></td>
			<td>{scrpropstatus}</td>
		</tr>
		<tr>
			<td><strong>Direction</strong></td>
			<td>{scrpropdirection}</td>
		</tr>
		<tr>
			<td><strong>Baseline</strong></td>
			<td>{scrpropbaseline}</td>
		</tr>
		<tr>
			<td><strong>Case</strong></td>
			<td>{scrpropcase}</td>
		</tr>
		<tr>
			<td><strong>White space</strong></td>
			<td>{scrpropwspace}</td>
		</tr>
		<tr>
			<td><strong>Complex behaviors</strong></td>
			<td>{scrpropbehavior}</td>
		</tr>
		<tr>
			<td><strong>ISO 15924 Code / Key</strong></td>
			<td>{scrpropisonumkey}</td>
		</tr>
		<tr>
			<td><strong>OpenType code</strong></td>
			<td>{scrpropotcode}</td>
		</tr>
	</tbody>
	</table>

	<p><a href="'/scrlang/script-feature-key.md">Explanation of features</a></p>
</div>
</details>

<style>
</style>

