---
const { scrpropcode, scrproptype, scrpropregion, scrpropstatus, scrpropdirection, scrpropbaseline, scrpropcase, scrproprwspace, scrpropbehavior, scrpropisocode, scrpropotcode } = Astro.locals.starlightRoute.entry.data;
---

<div>
	<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Script type</strong></td>
			<td>{scrproptype}</td>
		</tr>
		<tr>
			<td><strong>Region</strong></td>
			<td>{scrpropregion}</td>
		</tr>
		<tr>
			<td><strong>Status</strong></td>
			<td>{scrpropstatus}</td>
		</tr>
		<tr>
			<td><strong>Direction</strong></td>
			<td>{scrpropdirection}</td>
		</tr>
		<tr>
			<td><strong>Baseline</strong></td>
			<td>{scrpropbaseline}</td>
		</tr>
		<tr>
			<td><strong>Case</strong></td>
			<td>{scrpropcase}</td>
		</tr>
		<tr>
			<td><strong>White space</strong></td>
			<td>{scrproprwspace}</td>
		</tr>
		<tr>
			<td><strong>Complex behaviors</strong></td>
			<td>{scrpropbehavior}</td>
		</tr>
		<tr>
			<td><strong>ISO 15924 Code / Key</strong></td>
			<td>{scrpropisocode}</td>
		</tr>
		<tr>
			<td><strong>OpenType code</strong></td>
			<td>{scrpropotcode}</td>
		</tr>
	</tbody>
	</table>
</div>

<style>
</style>

