---
// Source component: display a single source, eg, a bibliographic entry
// Used by SourcesList and Bibliography - and eventually a lot more!
// Parameter:
//     key: record id in YAML file

// Types to handle: article, book, inbook, inproceedings, online, misc

const { key, showkey } = Astro.props;

import { getEntry } from 'astro:content';
const sObj = await getEntry('sources', key);
if (!sObj) {
	throw new Error(`SourceLink: ${Astro.originPathname}: Could not find sources entry: ${key}`)
}

let orgStringParen = sObj.data.organization ?? '';
if (sObj.data.entrytype == "online" && orgStringParen !== '') {
	orgStringParen = "(" + orgStringParen + ")";
}

let addendumString = sObj.data.addendum ?? '';
// addendumString = addendumString.replaceAll('[CR][CR]', '<br/>');
if (addendumString != '') {
	addendumString = '- '.concat(addendumString);
}

let keyString = '';
if (showkey == 'True') {
	keyString = '@' + key;
}

// let annotatonString = sObj.data.annotation ?? '';
// annotatonString = annotatonString.replaceAll('[CR][CR]', '<br/>');
// if (annotatonString != '') {
// 	annotatonString = '- '.concat(annotatonString);
// }

// let abstractString = sObj.data.abstract ?? '';
// abstractString = abstractString.replaceAll('[CR][CR]', '<br/>');

---

<style>
	.addendum { font-style: italic; font-size: 100%; }
	.keystring { font-family: monospace; font-size: 100%; color: var(--text-secondary); }
</style>

<a href={sObj.data.url} target="_blank" rel="noopener noreferrer">
	{sObj.data.title}</a>&#x20;{orgStringParen}&#x20;
	<span class='addendum'>{addendumString}</span>&nbsp;
	<span class='keystring'>{keyString}</span>
</>
