---
// Source component: display a single source, eg, a bibliographic entry
// Used by SourcesList and Bibliography - and eventually a lot more!
// Parameter:
//     key: record id in YAML file

// Types to handle: article, book, inbook, inproceedings, online, misc

const { key } = Astro.props;

import { getCollection } from 'astro:content';
const sdata = await getCollection('sources');

// import sdata from '../data/sources.json';

let sObj = sdata.find((s) => s.id == key);

const stype = sObj?.data.entrytype;

const presortStr = (sObj?.data.presort ?? '').toString();
const omitAuthor = (presortStr !== '');

let authorString = sObj?.data.author ?? '';
const authorList = authorString.split(" and ");
const aLen = authorList.length;
if (aLen > 2) {
	// convert 'Bob and Martin and Peter' to 'Bob, Martin, and Peter'.
	let result = authorList[0];
	for (let i = 1; i < aLen - 1; i++) {
		result = result.concat(', '.concat(authorList[i]));
	}
	authorString = result.concat(', and '.concat(authorList[aLen-1]));
}
let editorString = sObj?.data.editor ?? '';
if (authorString === '' && editorString !== '') {
	if (editorString.includes(' and ')) {
		authorString = `${editorString}, eds.`;
	} else {
		authorString = `${editorString}, ed.`;
	}
	editorString = ``;
} else if (editorString !== '') {
	editorString = `edited by ${editorString}`;
}

// Put last name (sortname) first for the first author/editor:
let sortNameStr = sObj?.data.sortname ?? '';
let spSortName = ' '.concat(sortNameStr);
if (sortNameStr != '' && authorString.indexOf(spSortName) > 0) {
	authorString = sortNameStr.concat(', '.concat(authorString.replace(spSortName, '')));
}

let astrLen = authorString.length;
if (authorString[astrLen-1] == '.') {
	// Remove redundant '.'
	authorString = authorString.substring(0, astrLen-1);
}

let orgStringParen = sObj?.data.organization ?? '';
if (sObj?.data.entrytype == "online" && orgStringParen !== '') {
	orgStringParen = "(" + orgStringParen + ")";
}

// Only one of these will exist:
let largerWork = (sObj?.data.journaltitle ?? '') + (sObj?.data.booktitle ?? '');

let seriesString = sObj?.data.series ?? '';

let volumeString = sObj?.data.volume ?? '';
if (volumeString !== '') {
	volumeString = `vol. ${volumeString}`;
}
let numberString = sObj?.data.number ?? '';
if (numberString !== '') {
	numberString = `no. ${numberString}`;
}

let pubString = sObj?.data.publisher ?? '';
let dateString = sObj?.data.date ?? '';

let pageString = sObj?.data.pages ?? '';
if (pageString !== "") {
	if (pageString?.includes('-')) {
		pageString = "pp. " + pageString;
	} else {
		pageString = "p. " + pageString;
	}
}

let urlString = sObj?.data.url ?? '';
// if (stype == "online") {
// 	urlString = "";		// it will be displayed with the title
// }

let addendumString = sObj?.data.addendum ?? '';
addendumString = addendumString.replaceAll('[CR][CR]', '<br/>');
if (addendumString != '') {
	addendumString = '- '.concat(addendumString);
}

// let annotatonString = sObj?.data.annotation ?? '';
// annotatonString = annotatonString.replaceAll('[CR][CR]', '<br/>');
// if (annotatonString != '') {
// 	annotatonString = '- '.concat(annotatonString);
// }

// let abstractString = sObj?.data.abstract ?? '';
// abstractString = abstractString.replaceAll('[CR][CR]', '<br/>');

---

<style>
	.addendum { font-style: italic; font-size: 100%; }
</style>

<a href={sObj.data.url} target="_blank" rel="noopener noreferrer">
	{sObj.data.title}</a>&#x20;{orgStringParen}&#x20;
	<span class='addendum'>{addendumString}</span>
</>
