---
// Source component: display a source
// Used by SourcesList and Bibliography - and eventually a lot more!
// Parameters:
//     key: source Key field

// Types to handle: @article, @book, @inbook, @inproceedings, @online, @misc

const { key } = Astro.props;

import sdata from '../data/sources.json';

let sObj = sdata.find((s) => s.Key == key);

const stype = sObj?.EntryType;

let authorString = sObj?.Author ?? '';
let editorString = sObj?.Editor ?? '';
if (authorString === '' && editorString !== '') {
	if (editorString.includes(' and ')) {
		authorString = `${editorString}, eds.`;
	} else {
		authorString = `${editorString}, ed.`;
	}
	editorString = ``;
} else if (editorString !== '') {
	editorString = `edited by ${editorString}`;
}

let orgStringParen = sObj?.Organization ?? '';
if (sObj?.EntryType == "@online" && orgStringParen !== '') {
	orgStringParen = "(" + orgStringParen + ")";
}

// Only one of these will exist:
let largerWork = (sObj?.JournalTitle ?? '') + (sObj?.BookTitle ?? '');

let seriesString = sObj?.Series ?? '';

let volumeString = sObj?.Volume ?? '';
if (volumeString !== '') {
	volumeString = `vol. ${volumeString}`;
}
let numberString = sObj?.Number ?? '';
if (numberString !== '') {
	numberString = `no. ${numberString}`;
}

let pubString = sObj?.Publisher ?? '';
let dateString = sObj?.Date ?? '';

let pageString = sObj?.Page ?? '';
if (pageString !== "") {
	if (pageString?.includes('-')) {
		pageString = "pp. " + pageString;
	} else {
		pageString = "p. " + pageString;
	}
}

let urlString = sObj?.Url ?? '';
// if (stype == "@online") {
// 	urlString = "";		// it will be displayed with the title
// }

let addendumString = sObj?.Addendum ?? '';
addendumString = addendumString.replaceAll('[CR][CR]', '<br/>');

let annotationString = sObj?.Annotation ?? '';
annotationString = annotationString.replaceAll('[CR][CR]', '<br/>');

let abstractString = sObj?.Abstract ?? '';
abstractString = abstractString.replaceAll('[CR][CR]', '<br/>');

---

<style>
	.info { font-style: italic; font-size: 92%; }
</style>

{	sObj ? (
		<>
		{ (stype ==='@online') ? (
			
			<!-- Simple link  -->

			<><a href={sObj.Url} target="_blank" rel="noopener noreferrer">{sObj.Title}</a>&#x20;{orgStringParen}</>

		) : (
			<!-- Other types -->

			<!-- First sequence: author title  -->

			{ (authorString !== '' && sObj.PreSort =='') ? (
				<>{authorString}, </>
				) : null
			}

			<!-- There should always be a title. -->
			{stype === '@book' ? (
				<em>{sObj.Title}. </em>
			) : (stype === '@inbook' || stype === '@article' || stype === '@inproceedings') ? (
				<>&ldquo;{sObj.Title}.&rdquo; </>
			) : (stype === '@online' && sObj.Url && sObj.Url !== '' ) ? (
				<>&ldquo;<a href={sObj.Url} target="_blank" rel="noopener noreferrer">{sObj.Title}</a>.&rdquo; </>
			) : (
				<>&ldquo;{sObj.Title}.&rdquo; </>
				)
			}

			<!-- Second sequence -->

			{	( largerWork != "" || seriesString != "" ) ? ( 
				<>
				{ (largerWork != "") ? <em>{largerWork}</em> : <>{seriesString}</>}
				{	(editorString !== '' || volumeString !== '' || numberString !== '' || pubString !== '' 
								|| dateString !== '' || pageString !== '' || urlString !== '') ? (
						<>, </>
					) : <>.</>
				}
				</>
				) : null
			}

			{	( editorString !== '' ) ? ( 
				<>{editorString}
				{	(volumeString !== '' || numberString !== '' || pubString !== '' 
							|| dateString !== '' || pageString !== '' || urlString !== '') ? (
						<>, </>
					) : <>.</>
				}
				</>
				)	: null
			}

			{	( volumeString !== "" ) ? (
				<>{volumeString}
				
				{	(numberString !== '' || pubString !== '' || dateString !== '' || pageString !== '' || urlString !== '') ? (
						<>, </>
					)	: <>.</>
				}
				</>	) : null
			}

			{	( numberString !== '' ) ? (
				<>{numberString}
				{	(pubString !== '' || dateString !== '' || pageString !== '' || urlString !== '') ? (
						<>, </>
					)	: <>.</>
				}
				</>	) : null
			}

			{	( pubString !== '' ) ? (
				<>{pubString}
				{	(dateString !== '' || pageString !== '' || urlString !== '') ? (
						<>, </>
					)	: <>.</>
				}			
				</>	) : null
			}

			{	( dateString !== "" ) ? (
				<>{dateString}
				{	(pageString !== '' || urlString !== '') ? (
						<>, </>
					)	: <>.</>
				}	
				</>	) : null
			}

			{	( pageString !== "" ) ? (
				<>{pageString}
				{	(urlString !== '') ? (
						<>, </>
					)	: <>.</>
				}	
				</>	) : null
			}
			{	( urlString !== "" ) ? (
					<><a href={urlString} target="_blank" rel="noopener noreferrer">{urlString}</a>.</>
				) : null
			}

			<!-- Last-accessed date -->
			{ (sObj.UrlDate && sObj.UrlDate != "") ? (
				<> Accessed {sObj.UrlDate}.</>
				) : null
			}

			<!-- Comments -->
			<!--
			{	(addendumString !== '') ? (
					<br/><span class="info" set:html={addendumString} />
				) : null
			}
			{	(abstractString !== '') ? (
					<br/><span class="info" set:html={abstractString} />
				) : null
			}
			{	(annotationString !== '') ? (
					<br/><span class="info" set:html={annotationString} />
				) : null
			}
			-->

		)
		}
		</>
	) : null
}
