---
// Source component: display a source
// Used by TaggedSources - and eventually a lot more!
// Parameters:
//     key: source Key field

// Types to handle: @article, @book, @inbook, @inproceedings, @online, @misc

const { key } = Astro.props;

// Eventually use the SQL DB:
//import { getCollection } from 'astro:content';
//const allSources = await getCollection('sources');

import sdata from '../data/sources.json';

let sObj = sdata.find((s) => s.Key == key);

const stype = sObj?.EntryType;

let authorString = sObj?.Author ?? '';
let editorString = sObj?.Editor ?? '';
if (authorString === '' && editorString !== '') {
	if (editorString.includes(' and ')) {
		authorString = `${editorString}, eds.`;
	} else {
		authorString = `${editorString}, ed.`;
	}
	editorString = ``;
} else if (editorString !== '') {
	editorString = `edited by ${editorString}`;
}

let orgStringParen = sObj?.Organization ?? '';
if (sObj?.EntryType == "@online" && orgStringParen !== '') {
	orgStringParen = "(" + orgStringParen + ")";
}

// Only one of these will exist:
let largerWork = (sObj?.JournalTitle ?? '') + (sObj?.BookTitle ?? '');

let seriesString = sObj?.Series ?? '';

let volumeString = sObj?.Volume ?? '';
if (volumeString !== '') {
	volumeString = `vol. ${volumeString}`;
}
let numberString = sObj?.Number ?? '';
if (numberString !== '') {
	numberString = `no. ${numberString}`;
}

let pubString = sObj?.Publisher ?? '';
let dateString = sObj?.Date ?? '';

let pageString = sObj?.Page ?? '';
if (pageString !== "") {
	if (pageString?.includes('-')) {
		pageString = "pp. " + pageString;
	} else {
		pageString = "p. " + pageString;
	}
}

let urlString = sObj?.Url ?? '';
// if (stype == "@online") {
// 	urlString = "";		// it will be displayed with the title
// }

let addendumString = sObj?.Addendum ?? '';
addendumString = addendumString.replaceAll('[CR][CR]', '<br/>');

let annotationString = sObj?.Annotation ?? '';
annotationString = annotationString.replaceAll('[CR][CR]', '<br/>');

let abstractString = sObj?.Abstract ?? '';
abstractString = abstractString.replaceAll('[CR][CR]', '<br/>');

---

<style>
	.info { font-style: italic; font-size: 92%; }
</style>

{	sObj ? (
		<span>
			{ (stype ==='@online') ? (
				<><a href={sObj.Url} target="_blank" rel="noopener noreferrer">{sObj.Title}</a>&#x20;{orgStringParen}</>

			) : (
				<!-- Other types -->

				<!-- First sequence: web site, author title  -->

				{ (authorString !== '' && sObj.PreSort =='') ? (
					<>{authorString}, </>
				  ) : null
				}

				<!-- Title - there should always be one! -->
				{stype === '@book' ? (
					<em>{sObj.Title}. </em>
				) : (stype === '@inbook' || stype === '@article' || stype === '@inproceedings') ? (
					<>&ldquo;{sObj.Title}.&rdquo; </>
				) : (stype === '@online' && sObj.Url && sObj.Url !== '' ) ? (
					<>&ldquo;<a href={sObj.Url} target="_blank" rel="noopener noreferrer">{sObj.Title}</a>.&rdquo; </>
				) : (
					<>&ldquo;{sObj.Title}.&rdquo; </>
					)
				}

				<!-- Second sequence -->

				{	( largerWork != "" ) ? ( 
					<><em>{largerWork}</em>
					{	(editorString !== '' || volumeString !== '' || numberString !== '' || pubString !== '' 
									|| dateString !== '' || pageString !== '' || urlString !== '') ? (
							<>, </>
						) : null
					}
					</>
					) : null
				}
				<!-- Alternative to largerWork: -->
				{	( seriesString != "" ) ? (
					<>{seriesString}
					{	(editorString !== '' || volumeString !== '' || numberString !== '' || pubString !== '' 
									|| dateString !== '' || pageString !== '' || urlString !== '') ? (
							<>, </>
						) : null
					}
					</>
					) : null
				}

				{	( editorString !== '' ) ? ( 
					<>{editorString}
					{	(volumeString !== '' || numberString !== '' || pubString !== '' 
								|| dateString !== '' || pageString !== '' || urlString !== '') ? (
							<>, </>
						) : null
					}
					</>
					)	: null
				}

				{	( volumeString !== "" ) ? (
					<>{volumeString}
					
					{	(numberString !== '' || pubString !== '' || dateString !== '' || pageString !== '' || urlString !== '') ? (
							<>, </>
						)	: null
					}
					</>	) : null
				}

				{	( numberString !== '' ) ? (
					<>{numberString}
					{	(pubString !== '' || dateString !== '' || pageString !== '' || urlString !== '') ? (
							<>, </>
						)	: null
					}
					</>	) : null
				}

				{	( pubString !== '' ) ? (
					<>{pubString}
					{	(dateString !== '' || pageString !== '' || urlString !== '') ? (
							<>, </>
						)	: null
					}			
					</>	) : null
				}

				{	( dateString !== "" ) ? (
					<>{dateString}
					{	(pageString !== '' || urlString !== '') ? (
							<>, </>
						)	: null
					}	
					</>	) : null
				}

				{	( pageString !== "" ) ? (
					<>{pageString}
					{	(urlString !== '') ? (
							<>, </>
						)	: null
					}	
					</>	) : null
				}
				{	( urlString !== "" ) ? ( 
						<a href={urlString} target="_blank" rel="noopener noreferrer">{urlString}</a>
					) : null
				}

				{	(largerWork !== '' || editorString !== '' || volumeString !== '' || numberString !== '' 
							|| pubString !== '' || dateString !== '' || pageString !== '' || urlString !== '') ? (
						<>.</>
					)	: null
				}

				<!-- Last-accessed date -->
				{ (sObj.UrlDate && sObj.UrlDate != "") ? (
					<> Accessed {sObj.UrlDate}.</span>
					) : null
				}

				<!-- Comments -->
				<!--
				{	(addendumString !== '') ? (
						<br/><span class="info" set:html={addendumString} />
					) : null
				}
				{	(abstractString !== '') ? (
						<br/><span class="info" set:html={abstractString} />
					) : null
				}
				{	(annotationString !== '') ? (
						<br/><span class="info" set:html={annotationString} />
					) : null
				}
				-->
			)
			}
		</span>
	) : null
}
