---
import wsdata from '../data/script_ws.json';

const { thisscript } = Astro.props;
const scriptObj = wsdata.find(s => s.Script === thisscript);
---

{scriptObj && (
	<div>
		<p>Current script is <em>{thisscript}</em>.</p>
		<table>
		<thead>
			<tr>
				<th><em>{scriptObj.Script}</em></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{scriptObj.WrSys.map((wsM) => (
			<tr>
				<td>{wsM.LangName}</td>
				<td>{wsM.WsCode}</td>
				<td>{wsM.Status}</td>
			</tr>
		))}
		</tbody>
		</table>
	</div>
)}

<style>
</style>

