---


import wsdata from '../data/script_ws.json';

import WsVarList from './WsVarList.astro';

const { thisscript } = Astro.props;

const scriptObj = wsdata.find(s => s.Script === thisscript);
const wsCount = scriptObj ? scriptObj.WrSys.length : 0;
const scriptTagLC = thisscript.toLowerCase();
---

{scriptObj && (
	<div>
		<table>
		<thead>
			<tr>
				<th>Language</th>
				<th>Writing System<br/>Code</th>
				<th>Status</th>
				<th>SLDR/CLDR<br>locale</th>
				<th>Regional<br/>variants</th>
			</tr>
		</thead>
		<tbody>
		{scriptObj.WrSys.slice(0,5).map((wsObj) => (
			<tr>
				<td>{wsObj.LangName}</td>
				<td>{wsObj.WsCode}</td>
				<td>{wsObj.Status}</td>
				<td>{wsObj.Locale}</td>
				<WsVarList />
			</tr>
		))}
		{wsCount > 5 && (
			<tr>
				<td colspan="4"><a href={`/scrlang/script_${scriptTagLC}_langs`}>See complete list</a></td>
			</tr>
		)}
		</tbody>
		</table>
	</div>
)}

<style>
</style>

