---


import wsdata from '../data/script_ws.json';

import WsVarList from './WsVarList.astro';

const { script, wsMax = 10000 } = Astro.props;

const scriptObj = wsdata.find(s => s.Script === script);
const wsCount = scriptObj ? scriptObj.WrSys.length : 0;
const scriptTagLC = script.toLowerCase();
---

{scriptObj && (
	<div>
		<table>
		<thead>
			<tr>
				<th>Language</th>
				<th>Writing System<br/>Code</th>
				<th>Status</th>
				<th>SLDR/CLDR<br>locale</th>
				<th>Regional<br/>variants</th>
			</tr>
		</thead>
		<tbody>
		{scriptObj.WrSys.slice(0,wsMax).map((wsObj) => (
			<tr>
				<td>{wsObj.LangName}</td>
				<td>{wsObj.WsCode}</td>
				<td>{wsObj.Status}</td>
				<td>{wsObj.Locale}</td>
				<WsVarList script={script} ws={wsObj.WsCode}/>
			</tr>
		))}
		{wsCount > wsMax && (
			<tr>
				<td colspan="4"><a href={`/scrlang/script-${scriptTagLC}-langs`}>See complete list</a></td>
			</tr>
		)}
		</tbody>
		</table>
	</div>
)}

<style>
</style>

