---
import wsdata from '../data/script_ws.json';

const { thisscript } = Astro.props;
const scriptObj = wsdata.find(s => s.Script === thisscript);
const wsCount = scriptObj ? scriptObj.WrSys.length : 0;
const seeMore = wsCount > 5 ? `See complete list` : '';
---
{scriptObj && (
	<div>
		<table>
		<thead>
			<tr>
				<th>Language</th>
				<th>Writing System<br/>Code</th>
				<th>Status</th>
				<th>SLDR/CLDR<br>locale</th>
			</tr>
		</thead>
		<tbody>
		{scriptObj.WrSys.slice(0,5).map((wsObj) => (
			<tr>
				<td>{wsObj.LangName}</td>
				<td>{wsObj.WsCode}</td>
				<td>{wsObj.Status}</td>
				<td>{wsObj.Locale}</td>
			</tr>
		))}
		{wsCount > 5 && (
			<tr>
				<td colspan="4"><a href={`/scrlang/script_${thisscript}_langs`}>{seeMore}</a></td>
			</tr>
		)}
		</tbody>
		</table>
	</div>
)}

<style>
</style>

