---
// WsLocaleLink component: generate a link to the SLDR or CLDR locale data for a given writing system. 
// Used within the WsList component.

const { locale, localeStatus } = Astro.props;
const localeText     = (locale && locale !== "none") ? `${locale} (SLDR)` : '';
const localeTextCLDR = (locale && locale !== "none") ? `${locale} (CLDR)` : '';
const localeInit     = (locale && locale !== "none") ? locale[0] : '';
---

			<td>
                {localeStatus === "CLDR" ? (
                    <a href={`https://unicode.org/cldr/charts/47/summary/${locale}.html`}
                            rel="external nofollow" target="_blank">{localeTextCLDR}
                        <span aria-hidden class="external-link-icon"><img src="/svgs/external-link.svg"></span>
                    </a>
                ) : ( localeStatus === "SLDR" ? (
                        <a href={`https://github.com/silnrsi/sldr/blob/master/sldr/${localeInit}/${locale}.xml`} 
                                rel="external nofollow" target="_blank">{localeText}
                            <span aria-hidden class="external-link-icon"><img src="/svgs/external-link.svg"></span>
                        </a>
                    ) 
                    : localeText
                )}
            </td>

<style>
</style>

